# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Virtual Environments
# ======================
venv/
env/
ENV/
.venv/
.python-version

# ======================
# Packaging
# ======================
build/
dist/
*.egg-info/

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs & Databases
# ======================
*.log
*.sqlite3

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Environment Variables
# ======================
.env
.env.*
